src/wadl/identity-api/openstack-identity-api/src/docbkx/RAX-GRPADM/RAX-GRPADM.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent RAX-GRPADM.wadl                 -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "../../../../../../common/common.ent">
    %common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
   xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
   xmlns:grp="http://docs.rackspace.com/identity/api/ext/RAX-KSGRP/v1.0"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:db="http://docbook.org/ns/docbook"
   xmlns:capi="http://docs.openstack.org/common/api/v1.0"
   xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
   xmlns:xlink="http://www.w3.org/1999/xlink">

    <grammars>
        <include href="xsd/api.xsd"/>
    </grammars>
    
    
    <!-- Groups -->

    <resources base="http://localhost:35357">
        <resource id="version" path="v2.0">
            <resource id="RAX-GRPADM" path="RAX-GRPADM">
                <resource id="groups" path="groups" type="#GroupList">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Auth Token">
                            <para>
                                A valid authentication token.
                            </para>
                        </wadl:doc>
                    </param>
                    <method href="#addGroup"/>
                    <resource id="groupName" path="{name}">
                        <param name="name" style="template" type="xsd:string" required="false">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="GroupByName">
                                 <para>
                                    The unique name for the group.
                                 </para>
                            </wadl:doc>
                        </param>
                        <method href="#getGroupName"/>
                    </resource>
                    <resource id="groupId" path="{groupId}">
                        <param name="groupId" style="template" type="xsd:string">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="GroupId">
                                <para>
                                    A unique identifier for the group.
                                </para>
                            </wadl:doc>
                        </param>
                        <method href="#getGroupId"/>
                        <method href="#updateGroup"/>
                        <method href="#deleteGroup"/>
                        <resource id="users" path="users" type="#UserList">
                            <resource id="user" path="{userId}">
                                <param name="userId" style="template" type="xsd:string">
                                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="GroupId">
                                        <para>
                                            A unique identifier for the user.
                                        </para>
                                    </wadl:doc>
                                </param>
                                <method href="#addUserToGroup"/>
                                <method href="#removeUserFromGroup"/>
                            </resource>
                        </resource>
                    </resource>     
                </resource>
            </resource>
        </resource>
    </resources>
    
    <resource_type id="UserList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Volume List">
            <param>
                <para>
                    A list of users.
                </para>
            </param>    
        </wadl:doc>
        <method href="#getUsersForGroup"/>
    </resource_type>

    <resource_type id="GroupList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Volume List">
            <para>
                A list of groups.
            </para>
        </wadl:doc>
        <method href="#listGroups"/>
    </resource_type>

    <!-- Methods -->
    <method id="listGroups"  name="GET">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get Groups">
            <para role="shortdesc">
                List of groups.
            </para>
            <para>
                Displays a list of available groups.  You can use the
                <parameter>name</parameter> to display only
                those groups matching a particular name.
            </para>
        </wadl:doc>
        <request>
            <param name="marker" style="query" required="false" type="xsd:string"/>
            <param name="limit"  style="query" required="false" type="xsd:int"/>
            <param name="name"  style="query" required="false" type="xsd:string"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="capi:element">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/groups.xml"/>
                </wadl:doc>
                <param name="next" style="plain" type="xsd:anyURI"
                       path="/grp:groups/atom:link[@rel='next']/@href">
                    <link resource_type="#GroupList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                       path="/grp:groups/atom:link[@rel='previous']/@href">
                    <link resource_type="#GroupList" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/groups.json"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- commonFaults -->
        &commonFaults;
    </method>
    <method id="addGroup"    name="POST">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Add Group">
            <para role="shortdesc">
                Add a new group.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml" element="capi:element">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/group-for-create.xml" />
                </doc>
                <param name="group" style="plain" required="true"
                    type="grp:GroupForCreate"
                    path="/grp:group"/>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/group-for-create.json" />
                </doc>
            </representation>
        </request>
        <response status="201">
            <param name="Location" style="header"
                required="true" type="xsd:anyURI">
                <wadLdoc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Location Header">
                    <para>
                        The full URL for the newly created group is
                        returned via the <code>Location</code>
                        header.
                    </para>
                </wadLdoc>
            </param>
            <representation mediaType="application/xml" element="capi:element">
                <wadl:doc  xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/group.xml" />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/group.json" />
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
        &postPutFaults;
    </method>
    <method id="getGroupName" name="GET">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get Group by name">
            <para role="shortdesc">
                Get group by name.
            </para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="capi:element">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/group.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/group.json"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common, GET -->
        &commonFaults;
        &getFaults;
    </method>
    <method id="getGroupId" name="GET">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get Group by ID">
            <para role="shortdesc">
                Get group by id.
            </para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="capi:element">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/group.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/group.json"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common, GET -->
        &commonFaults;
        &getFaults;
    </method>
    <method id="updateGroup"    name="PUT">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update Group">
            <para role="shortdesc">
                Update a group.
            </para>
            <para>
                Use this call to update the description or name of a specified group.
                A group is specified by its ID. 
                If you know the group's name but not the group's ID, use                  
                <xref linkend="GET_listGroups_v2.0_RAX-GRPADM_groups_Group_Calls" xrefstyle="select: title" xmlns="http://docbook.org/ns/docbook"></xref>
                 to                   
                obtain complete identifying information about all groups.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml" element="capi:element">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/group-for-update.xml" />
                </wadl:doc>
                <param name="group" style="plain" required="true"
                    type="grp:GroupForUpdate"
                    path="/grp:group"/>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/group-for-update.json" />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="capi:element">
                <wadl:doc  xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/group-updated.xml" />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/group-updated.json" />
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
        &postPutFaults;
    </method>
    <method id="deleteGroup" name="DELETE">
        <wadl:doc  xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete Group">
            <para role="shortdesc">
                Delete a group.
            </para>
            <para>
                You must delete all the members of a group before deleting the group itself.
                A group is specified by its ID. 
                If you know the group's name but not the group's ID, use                  
                <xref linkend="GET_listGroups_v2.0_RAX-GRPADM_groups_Group_Calls" xrefstyle="select: title" xmlns="http://docbook.org/ns/docbook"></xref>
                 to                   
                obtain complete identifying information about all groups.
            </para>
        </wadl:doc>
        <response status="204"/>
        <!-- Common, GET -->
        &commonFaults;
        &getFaults;
    </method>
    <method id="getUsersForGroup" name="GET">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get Users for Group">
            <para role="shortdesc">
                List users in a specified group.
            </para>
            <para>
                This operation lists all the users belonging to the specified group
                A group is specified by its ID. 
                If you know the group's name but not the group's ID, use                  
                <xref linkend="GET_listGroups_v2.0_RAX-GRPADM_groups_Group_Calls" xrefstyle="select: title" xmlns="http://docbook.org/ns/docbook"/>
                 to                   
                obtain complete identifying information about all groups.
            </para>
        </wadl:doc>
        <request>
            <param name="marker" style="query" required="false" type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <para>Specifies an opaque string that the client can use 
                    to request the next batch of users. The marker parameter communicates to 
                    the server which users the client has already received. If you do not specify a value, 
                    the API returns all users (up to the limit).</para>
                </wadl:doc>
            </param>
            <param name="limit"  style="query" required="false" type="xsd:int">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <para>When more users are available than can be returned in 
                    a single request, the client can pick up the next batch of groups by 
                    using the URI template parameters returned from the previous call 
                    in the <code>next</code> field.</para>
                </wadl:doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="capi:element">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/users.xml"/>
                </wadl:doc>
                <param name="next" style="plain" type="xsd:anyURI"
                       path="/identity:users/atom:link[@rel='next']/@href">
                    <link resource_type="#UserList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                       path="/identity:users/atom:link[@rel='previous']/@href">
                    <link resource_type="#UserList" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="samples/users.json"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- commonFaults -->
        &commonFaults;
    </method>
    <method id="addUserToGroup" name="PUT">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Add User to Group">
            <para role="shortdesc">
                Add a user to the group.
            </para>
            <para>
                This call adds a specified user to a specified group. 
            </para>
            <para>Users and groups are specified by their IDs. If you know the user name but not the ID, 
                use  <link xlink:href="GET_admin-getUserByName_v2.0_users__name__User_Calls.html">Get user by name</link> operation to find the user name.
                If you know the group name but not the ID, 
                use  <link xlink:href="GET_listGroups_v2.0_RAX-GRPADM_groups_Group_Calls.html">List groups</link> operation to find the group name.
             </para> 
            <para>
                Users inherit the groups assigned to the user-admin.  This enables client code built around rate-limit groups to be more stable.
            </para>
        </wadl:doc>
        <response status="204"/>
        <!-- Common, GET -->
        &commonFaults;
        &getFaults;
    </method>
    <method id="removeUserFromGroup" name="DELETE">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Remove User from Group">
            <para role="shortdesc">
                Remove a user from the group.
            </para>
            <para>
                This call deletes a specified user from a specified group. 
                Users and groups are specified by their IDs. 
                If you know the user name but not the ID, use                  
                <xref linkend="GET_getUserByName_v2.0_users__User_Calls" xrefstyle="select: title" xmlns="http://docbook.org/ns/docbook"></xref>
                 to                   
                obtain complete identifying information about the user.
                If you know the group name but not the ID, use                  
                <xref linkend="GET_listGroups_v2.0_RAX-GRPADM_groups_Group_Calls" xrefstyle="select: title" xmlns="http://docbook.org/ns/docbook"></xref>
                 to                   
                obtain complete identifying information about all groups.
            </para>  
        </wadl:doc>
        <response status="204"/>
        <!-- Common, GET -->
        &commonFaults;
        &getFaults;
    </method>
</application>