src/wadl/OS-KSCATALOG-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->
<!--*******************************************************-->
<!-- Import Common XML Entities -->
<!-- -->
<!-- You can resolve the entites with xmllint -->
<!-- -->
<!-- xmllint -noent OS-KSCATALOG-admin.wadl -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common SYSTEM "../common/common.ent">
%common;
]>

<application 
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:OS-KSCATALOG="http://docs.openstack.org/identity/api/ext/OS-KSCATALOG/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 ../common/xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0 ../common/xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
    http://docs.openstack.org/identity/api/ext/OS-KSCATALOG/v1.0 ../common/xsd/OS-KSCATALOG.xsd
    ">
    
    <grammars>
        <include href="../common/xsd/api.xsd"/>
        <include href="../common/xsd/api-common.xsd"/>
        <include href="../common/xsd/OS-KSCATALOG.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!-- All Resources -->
    <!--*******************************************************-->
    
    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357" xml:id="Identity-v2">
        <resource id="version" path="v2.0">
            
            <resource id="tenants" path="tenants">
                <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                    <doc>A valid authentication token.</doc>
                </param>
                <resource id="tenantId" path="{tenantId}">
                    <param name="tenantId" style="template" type="xsd:string" required="true">
                        <doc>A tenant Id</doc>
                    </param>
                    <resource id="endpoints-OS-KSCATALOG" path="OS-KSCATALOG">
                        <resource id="endpoints" path="endpoints">
                            <method href="#listEndpoints"/>
                            <method href="#addEndpoint"/>
                            <resource id="endpoint" path="{endpointId}">
                                <param name="endpointId" style="template" type="xsd:string" required="true">
                                    <doc>An endpoint Id</doc>
                                </param>
                                <method href="#getEndpoint"/>
                                <method href="#deleteEndpoint"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
            
            <resource id="role-service-OS-KSCATALOG" path="OS-KSCATALOG">
                <resource id="endpointTemplates" path="endpointTemplates">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                        <doc>A valid authentication token.</doc>
                    </param>
                    <method href="#listEndpointTemplates"/>
                    <method href="#addEndpointTemplate"/>
                    <resource id="endpointTemplateId" path="{endpointTemplateId}">
                        <param name="endpointTemplateId" style="template" type="xsd:string" required="true">
                            <doc>An endpoint template Id</doc>
                        </param>
                        <method href="#getEndpointTemplate"/>
                        <method href="#updateEndpointTemplate"/>
                        <method href="#deleteEndpointTemplate"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    
    <!--*******************************************************-->
    <!-- All Methods -->
    <!--*******************************************************-->
    
    <!-- EndPoint Templates -->
    
    <method name="GET" id="listEndpointTemplates">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List endpoint templates">
            <para role="shortdesc">List endpoint templates.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://docbook.org/ns/docbook" name="serviceId" style="query" type="xsd:string">
                <wadl:doc> Allows us to filter by service id.</wadl:doc>
            </param>
        </request>
        <response status="200 203">
            <doc title="OK">The request has completed successfully.</doc>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplates">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplates.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplates.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getEndpointTemplate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get endpoint template">
            <para role="shortdesc">Get an endpoint template.</para>
        </wadl:doc>
        <response status="200 203">
            <doc title="OK">The request has completed successfully.</doc>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplate">
                <doc>
                    <xsdxt:code href="../common/samples/endpointTemplate.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code href="../common/samples/endpointTemplate.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="addEndpointTemplate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Add endpoint template">
            <para role="shortdesc">Add an endpoint template.</para>                       
        </wadl:doc>          
        <request>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code href="../common/samples/endpointTemplate.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplate">
                <doc>
                    <xsdxt:code href="../common/samples/endpointTemplate.xml"/>
                </doc>
                <param name="id" style="plain" required="true" path="$.id" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>A unique ID for the endpoint.</para></wadl:doc>
                </param>
                <param name="region" style="plain" required="true" path="$.region" default="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Indicates the datacenter where the endpoint exists. Examples: ORD, DFW, HKG, LON,
                            SYN. </para></wadl:doc>
                </param>
                <param name="global" style="plain" required="true" path="$.global" type="boolean">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Determines whether the endpoint template is 
                            automatically included for every account. If the value is <code>true</code>, 
                            the endpoint shows up for all tenants. If the value is <code>false</code>, the 
                            template only shows up when it is added to a tenant manually. 
                        </para></wadl:doc>
                </param>
                <param name="type" style="plain" required="true" path="$.type" type="identity:ExtensibleServiceType">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Specifies the OpenStack-registered type for core Keystone services or extensions.
                            Examples of core service types: <code>'compute'</code>, <code>'object-store'</code>, 
                            <code>'image'</code>. Examples of extension types: <code>'rax:database'</code>, <code>rax:load-balancer</code>, 
                            <code>rax:monitor</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="name" style="plain" required="true" path="$.name" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Specifies the commercial name for the service, 
                            'Cloud Servers' for example.
                        </para></wadl:doc>
                </param>
                <param name="publicURL" style="plain" required="true" path="$.publicURL" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The URL that clients use to access the 
                            endpoint over the internet.
                        </para></wadl:doc>
                </param>
                <param name="internalURL" style="plain" required="false" path="$.internalURL" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The URL to use for communication between services. 
                            In general, this URL is used for communication between services 
                            over a high bandwidth, low latency, unmetered (free, no
                            bandwidth charges) network. For example, to avoid racking up 
                            bandwidth charges, use the internalURL to access a Cloud Files 
                            cluster from inside your Cloud Server VMs to ensure local communication that 
                            does not go over a public network.
                        </para></wadl:doc>
                </param>
                <param name="adminURL" style="plain" required="false" path="$.adminURL" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The URL for service administration. 
                            This URL is only shown to users with the appropriate rights. Customers 
                            should never see it. 
                        </para></wadl:doc>
                </param>
                <param name="tenantAlias" style="plain" required="false" path="$.TenantAlias" default="{tenant}" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Tenant alias to be concatenated to the endpoint. The default value is <code>'{tenant}"</code>
                            When this parameter is specified for endpointTemplate, it appends 
                            the pattern to an endpoint. Example values: <code>tenantAlias: '{tenant}'</code>, 
                            <code>'NastPrefix{tenant}'</code>, or 
                            <code>''</code> (empty). If the value is blank, the pattern for a tenant id is not 
                            concatenated to the endpoint.
                        </para></wadl:doc>
                </param>
                <param name="enabled" style="plain" required="false" path="$.enabled" default="true" type="xsd:boolean">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Indicates whether the endpoint template is activated (enabled). The default 
                            value is <code>true</code>. An endpoint template can only be added if it is enabled.
                        </para></wadl:doc>
                </param>
                <param name="version" style="plain" required="false" path="$.version" type="xsd:boolean">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Version details.
                        </para>
                    </wadl:doc>
                </param>
                <param name="versioninfo" style="plain" required="false" path="$.versioninfo" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>Specifies the URL that can be called to get information about the API version. 
                        </para>
                    </wadl:doc>
                </param>
                <param name="versionlist" style="plain" required="false" path="$.versionlist" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>Specifies the URL that can be called to determine what API versions are supported at the endpoint. 
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="201" xmlns="http://wadl.dev.java.net/2009/02">
            <doc title="OK">Created.</doc>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplate">
                <doc>
                    <xsdxt:code href="../common/samples/endpointTemplate.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code href="../common/samples/endpointTemplate.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
        &postPutFaults;
    </method>
    
    <method name="PUT" id="updateEndpointTemplate">
        <doc xml:lang="EN" title="Update endpoint template">
            <p xmlns="http://www.w3.org/1999/xhtml">Update an endpoint template.</p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplate">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplate.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplate.json"/>
                </doc>
            </representation>
        </request>
        <response status="200">
            <doc title="OK">The request has completed successfully.</doc>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplate">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplate.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplate.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
        &postPutFaults;
    </method>
    
    <method name="DELETE" id="deleteEndpointTemplate">
        <doc xml:lang="EN" title="Delete endpoint template">
            <p xmlns="http://www.w3.org/1999/xhtml">Delete an endpoint template.</p>
        </doc>
        <response status="204">
            <doc title="No content">The request succeeded. The server fulfilled the request but does not need to return a body.</doc>
            <representation mediaType="application/xml" element="identity:noContent"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
   
    <!-- EndPoints -->
   
    <method name="POST" id="addEndpoint">
        <doc xml:lang="EN" title="Add endpoint to tenant">
            <p xmlns="http://www.w3.org/1999/xhtml">Add an endpoint to a tenant.</p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplate">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplateWithOnlyId.xml"/>
                </doc>
                <param name="id" style="plain" path="/" type="OS-KSCATALOG:endpointTemplateWithOnlyId" required="true">
                    <doc>An endpoint template Id</doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplateWithOnlyId.json"/>
                </doc>
            </representation>
        </request>
        <response status="201" xmlns="http://wadl.dev.java.net/2009/02">
            <doc title="OK">Created.</doc>
            <representation mediaType="application/xml" element="identity:endpoint">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpoint.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpoint.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
        &postPutFaults;
    </method>
    
    <method name="GET" id="listEndpoints">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List endpoints for tenant">
            <para>List all endpoints available to a tenant.</para>
        </wadl:doc>
        <response status="200"  xmlns="http://wadl.dev.java.net/2009/02">
            <doc title="OK">The request has completed successfully.</doc>
            <representation mediaType="application/xml" element="identity:endpoints">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpoints.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpoints.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getEndpoint">
        <doc xml:lang="EN" title="Get endpoint">
            <p xmlns="http://www.w3.org/1999/xhtml">Get an endpoint available to a tenant.</p>
            
        </doc>
        <response status="200 203"  xmlns="http://wadl.dev.java.net/2009/02">
                <doc title="OK">The request has completed successfully.</doc>
            <representation mediaType="application/xml" element="identity:endpoint">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpoint.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpoint.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteEndpoint">
        <doc xml:lang="EN" title="Delete endpoint from tenant">
            <p xmlns="http://www.w3.org/1999/xhtml">Delete an endpoint from a tenant.</p>
        </doc>
        <response status="204" xmlns="http://wadl.dev.java.net/2009/02">
            <doc title="No content">The request succeeded. The server fulfilled the request but does not need to return a body.</doc>
            <representation mediaType="application/xml" element="identity:noContent"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
</application>