src/wadl/OS-KSCATALOG-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->
<!--*******************************************************-->
<!-- Import Common XML Entities -->
<!-- -->
<!-- You can resolve the entites with xmllint -->
<!-- -->
<!-- xmllint -noent OS-KSCATALOG-admin.wadl -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common SYSTEM "../common/common.ent">
%common;
]>

<application 
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:OS-KSCATALOG="http://docs.openstack.org/identity/api/ext/OS-KSCATALOG/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 ../common/xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0 ../common/xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
    http://docs.openstack.org/identity/api/ext/OS-KSCATALOG/v1.0 ../common/xsd/OS-KSCATALOG.xsd
    ">
    
    <grammars>
        <include href="../common/xsd/api.xsd"/>
        <include href="../common/xsd/api-common.xsd"/>
        <include href="../common/xsd/OS-KSCATALOG.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!-- All Resources -->
    <!--*******************************************************-->
    
    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357" xml:id="Identity-v2">
        <resource id="version" path="v2.0">
            
            <resource id="tenants" path="tenants">
                <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                    <doc>Requires a valid authentication token with administrative access.</doc>
                </param>
                <resource id="tenantId" path="{tenantId}">
                    <param name="tenantId" style="template" type="capi:UUID" required="true">
                        <doc>The unique ID assigned to the tenant account.</doc>
                    </param>
                    <resource id="endpoints-OS-KSCATALOG" path="OS-KSCATALOG">
                        <resource id="endpoints" path="endpoints">
                            <method href="#listEndpoints"/>
                            <method href="#addEndpoint"/>
                            <resource id="endpoint" path="{endpointId}">
                                <param name="endpointId" style="template" type="xsd:string" required="true">
                                    <doc>An endpoint Id</doc>
                                </param>
                                <method href="#getEndpoint"/>
                                <method href="#deleteEndpoint"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
            
            <resource id="role-service-OS-KSCATALOG" path="OS-KSCATALOG">
                <resource id="endpointTemplates" path="endpointTemplates">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                        <doc>A valid authentication token.</doc>
                    </param>
                    <method href="#listEndpointTemplates"/>
                    <method href="#addEndpointTemplate"/>
                    <resource id="endpointTemplateId" path="{endpointTemplateId}">
                        <param name="endpointTemplateId" style="template" type="xsd:string" required="true">
                            <doc>An endpoint template Id</doc>
                        </param>
                        <method href="#getEndpointTemplate"/>
                        <method href="#updateEndpointTemplate"/>
                        <method href="#deleteEndpointTemplate"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    
    <!--*******************************************************-->
    <!-- All Methods -->
    <!--*******************************************************-->
    
    <!-- EndPoint Templates -->
    
    <method name="GET" id="listEndpointTemplates">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List endpoint templates">
            <para role="shortdesc">Lists endpoint templates.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://docbook.org/ns/docbook" name="serviceId" style="query" type="xsd:string">
                <wadl:doc> Allows us to filter by service id.</wadl:doc>
            </param>
        </request>
        <response status="200 203">
            <doc title="OK">The request has completed successfully.</doc>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplates">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplates.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplates.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getEndpointTemplate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get endpoint template">
            <para role="shortdesc">Retrieves an endpoint template.</para>
        </wadl:doc>
        <response status="200 203">
            <doc title="OK">The request has completed successfully.</doc>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplate">
                <doc>
                    <xsdxt:code href="../common/samples/endpointTemplate.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code href="../common/samples/endpointTemplate.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="addEndpointTemplate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create an endpoint template">
            <para role="shortdesc">Creates an endpoint template to add service endpoints to the 
                Rackspace service catalog.</para>
            <para>Identity administrators can use this operation to create an endpoint for an existing service type. 
             When you create a template, you need to specify unique values for the service ID, name, and any endpoint URLs you 
             want to associate with the serives. The values for region, and type must match values for an existing service of the same type.</para>
            <note><title>Notes</title>
                <itemizedlist>
                    <listitem>
                        <para>When an Identity administrator adds an endpoint template, the endpoint is disabled by default. To make the 
                            endpoint available to users, the administrator must manually add it by submitting an 
                            <link xlink:href="POST_addEndpoint_v2.0_tenants__tenantId__OS-KSCATALOG_endpoints_Endpoint_Calls.html">
                                Add endpoint template to tenant</link> API request.</para>
                    </listitem>
                    <listitem>
                        <para>After the endpoint template has beeen tested and is ready for production, an Identity Service administrator can 
                            use the 
                            <link xlink:href="PUT_updateEndpointTemplate_v2.0_OS-KSCATALOG_endpointTemplates__endpointTemplateId__Endpoint_Template_Calls.html">Update endpoint template</link> 
                            operation to update the configuration to enable the Identity Service to add the endpoint 
                            to service catalogs, tenants, and users automatically based the configuration settings.</para>
                    </listitem>
                </itemizedlist></note>
        </wadl:doc>        
        <request>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplate">
                <wadl:doc>
                    <xsdxt:code href="../common/samples/endpointTemplate.xml"/>
                </wadl:doc>
                <param name="id" style="plain" required="false" path="$.id" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>A unique ID for the endpoint. If you don't specify a value, the system automatically generates a unique ID.</para></wadl:doc>
                </param>
                <param name="region" style="plain" required="true" path="$.region" default="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Indicates the data center for service hosting. Examples: <code>ORD</code>, 
                            <code>DFW</code>, <code>HKG</code>, <code>LON</code>, <code>SYN</code></para></wadl:doc>
                </param>
                <param name="type" style="plain" required="false" path="$.type" type="identity:ExtensibleServiceType">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Specifies the OpenStack-registered type for core Keystone services or extensions.
                            Examples of core service types: <code>'compute'</code>, <code>'object-store'</code>, 
                            <code>'image'</code>. Examples of extension types: <code>'rax:database'</code>, <code>rax:load-balancer</code>, 
                            <code>rax:monitor</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="name" style="plain" required="false" path="$.name" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Specifies the commercial name for the service, 
                            'Cloud Servers' for example.
                        </para></wadl:doc>
                </param>
                <param name="publicURL" style="plain" required="false" path="$.publicURL" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The URL that clients use to access the 
                            endpoint over the internet.
                        </para></wadl:doc>
                </param>
                <param name="internalURL" style="plain" required="false" path="$.internalURL" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The URL to use for communication between services. 
                            In general, this URL is used for communication between services 
                            over a high bandwidth, low latency, unmetered (free, no
                            bandwidth charges) network. For example, to avoid racking up 
                            bandwidth charges, use the internalURL to access a Cloud Files 
                            cluster from inside your Cloud Server VMs to ensure local communication that 
                            does not go over a public network.
                        </para></wadl:doc>
                </param>
                <param name="adminURL" style="plain" required="false" path="$.adminURL" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The URL for service administration. 
                            This URL is only shown to users with the appropriate rights. Customers 
                            should never see it. 
                        </para></wadl:doc>
                </param>
                <param name="tenantAlias" style="plain" required="false" path="$.TenantAlias" default="{tenant}" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Tenant alias to be concatenated to the endpoint. The default value is <code>'{tenant}"</code>
                            When this parameter is specified for endpointTemplate, it appends 
                            the pattern to an endpoint. Example values: <code>tenantAlias: '{tenant}'</code>, 
                            <code>'NastPrefix{tenant}'</code>, or 
                            <code>''</code> (empty). If the value is blank, the pattern for a tenant id is not 
                            concatenated to the endpoint.
                        </para></wadl:doc>
                </param>
                <param name="version" style="plain" required="false" path="$.version" type="xsd:boolean">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Version details.
                        </para>
                    </wadl:doc>
                </param>
                <param name="versioninfo" style="plain" required="false" path="$.versioninfo" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>Specifies the URL that can be called to get information about the API version. 
                        </para>
                    </wadl:doc>
                </param>
                <param name="versionlist" style="plain" required="false" path="$.versionlist" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>Specifies the URL that can be called to determine what API versions are supported at the endpoint. 
                        </para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc>
                    <xsdxt:code href="../common/samples/endpointTemplate.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201" >
            <wadl:doc title="OK">Created.</wadl:doc>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplate">
                <wadl:doc>
                    <xsdxt:code href="../common/samples/endpointTemplate.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc>
                    <xsdxt:code href="../common/samples/endpointTemplate.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
        &postPutFaults;
    </method>
    
    <method name="PUT" id="updateEndpointTemplate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update endpoint template">
            <para role="shortdesc">Updates an endpoint template to change configuration and enable automated management.</para>
            <para>When an endpoint template is initially created, you have to add the associated endpoint to tenants and users manually. After 
                the endpoint has beeen tested and is ready for production, Identity service administrators can update the endpoint template 
                attributes to support automated endpoint management. When automation is enabled, the Identity service can add endpoints to 
                tenants and users automatically based on the settings configured for the following attributes: <parameter>enabled</parameter>, 
                <parameter>global</parameter> and <parameter>default</parameter>.
            </para>
        </wadl:doc>
        
        <request>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplate">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplateUpdate.xml"/>
                </wadl:doc>
                <param name="region" style="plain" required="true" path="$.region" default="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Indicates the data center for service hosting. Examples: <code>ORD</code>, 
                            <code>DFW</code>, <code>HKG</code>, <code>LON</code>, <code>SYN</code></para></wadl:doc>
                </param>
                <param name="global" style="plain" required="false" path="$.global" type="boolean">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Specifies whether the endpoint applies to all tenant users. If this value is 
                            <code>true</code> and the endpoint has been enabled, the Identity service automatically 
                            includes the endpoint in all service catalogs. If the value is <code>false</code>, the 
                            template only shows up when it is added to a tenant manually. The default value is <code>false</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="default" style="plain" required="false" path="$.default" type="boolean">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        
                        <para>Indicates whether the endpoint template is a default endpoint that is added automatically when a 
                            user is created. The value defaults to <code>false</code>. You only need to specify this parameter if 
                            data center operating policies prevent you from using the global parameter to assign endpoints automatically across 
                            regions.
                        </para></wadl:doc>
                </param>
                <param name="type" style="plain" required="false" path="$.type" type="identity:ExtensibleServiceType">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Specifies the OpenStack-registered type for core Keystone services or extensions.
                            Examples of core service types: <code>'compute'</code>, <code>'object-store'</code>, 
                            <code>'image'</code>. Examples of extension types: <code>'rax:database'</code>, <code>rax:load-balancer</code>, 
                            <code>rax:monitor</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="name" style="plain" required="false" path="$.name" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Specifies the commercial name for the service, 
                            'Cloud Servers' for example.
                        </para></wadl:doc>
                </param>
                <param name="publicURL" style="plain" required="false" path="$.publicURL" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The URL that clients use to access the 
                            endpoint over the internet.
                        </para></wadl:doc>
                </param>
                <param name="internalURL" style="plain" required="false" path="$.internalURL" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The URL to use for communication between services. 
                            In general, this URL is used for communication between services 
                            over a high bandwidth, low latency, unmetered (free, no
                            bandwidth charges) network. For example, to avoid racking up 
                            bandwidth charges, use the internalURL to access a Cloud Files 
                            cluster from inside your Cloud Server VMs to ensure local communication that 
                            does not go over a public network.
                        </para></wadl:doc>
                </param>
                <param name="adminURL" style="plain" required="false" path="$.adminURL" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The URL for service administration. 
                            This URL is only shown to users with the appropriate rights. Customers 
                            should never see it. 
                        </para></wadl:doc>
                </param>
                <param name="tenantAlias" style="plain" required="false" path="$.TenantAlias" default="{tenant}" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Tenant alias to be concatenated to the endpoint. The default value is <code>'{tenant}"</code>
                            When this parameter is specified for endpointTemplate, it appends 
                            the pattern to an endpoint. Example values: <code>tenantAlias: '{tenant}'</code>, 
                            <code>'NastPrefix{tenant}'</code>, or 
                            <code>''</code> (empty). If the value is blank, the pattern for a tenant id is not 
                            concatenated to the endpoint.
                        </para></wadl:doc>
                </param>
                <param name="enabled" style="plain" required="false" path="$.enabled" default="false" type="xsd:boolean">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Indicates whether the endpoint template is activated (enabled). The default 
                            value is <code>false</code>. An endpoint template can only be added if it is enabled.
                        </para></wadl:doc>
                </param>
                <param name="version" style="plain" required="false" path="$.version" type="xsd:boolean">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Version details.
                        </para>
                    </wadl:doc>
                </param>
                <param name="versioninfo" style="plain" required="false" path="$.versioninfo" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>Specifies the URL that can be called to get information about the API version. 
                        </para>
                    </wadl:doc>
                </param>
                <param name="versionlist" style="plain" required="false" path="$.versionlist" type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>Specifies the URL that can be called to determine what API versions are supported at the endpoint. 
                        </para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplateUpdate.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="OK">The request has completed successfully.</wadl:doc>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplate">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplateUpdateResp.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplateUpdateResp.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
        &postPutFaults;
    </method>
    
    <method name="DELETE" id="deleteEndpointTemplate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"  xml:lang="EN" title="Delete endpoint template">
            <para role="shortdesc">Deletes an endpoint template.</para>
        </wadl:doc>
        <response status="204">
            <doc title="No content">The request succeeded. The server fulfilled the request but does not need to return a body.</doc>
            <representation mediaType="application/xml" element="identity:noContent"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
   
    <!-- EndPoints -->
   
    <method name="POST" id="addEndpoint">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Add endpoint to tenant">
            <para role="shortdesc">Adds an endpoint to a tenant.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml" element="OS-KSCATALOG:endpointTemplate">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplateWithOnlyId.xml"/>
                </wadl:doc>
                <param name="id" style="plain" path="/" type="OS-KSCATALOG:endpointTemplateWithOnlyId" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">An endpoint template Id</wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpointTemplateWithOnlyId.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201" >
            <doc title="OK">Created.</doc>
            <representation mediaType="application/xml" element="identity:endpoint">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpoint.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpoint.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
        &postPutFaults;
    </method>
    
    <method name="GET" id="listEndpoints">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List endpoints for tenant">
            <para role="shortdesc">Lists all endpoints available to a tenant.</para>
        </wadl:doc>
        <response status="200"  >
            <doc title="OK">The request has completed successfully.</doc>
            <representation mediaType="application/xml" element="identity:endpoints">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpoints.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpoints.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getEndpoint">
        <doc xml:lang="EN" title="Get endpoint">
            <p xmlns="http://www.w3.org/1999/xhtml">Get an endpoint available to a tenant.</p>
            
        </doc>
        <response status="200 203"  >
                <doc title="OK">The request has completed successfully.</doc>
            <representation mediaType="application/xml" element="identity:endpoint">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpoint.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/endpoint.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteEndpoint">
        <doc xml:lang="EN" title="Delete endpoint from tenant">
            <p xmlns="http://www.w3.org/1999/xhtml">Delete an endpoint from a tenant.</p>
        </doc>
        <response status="204" >
            <doc title="No content">The request succeeded. The server fulfilled the request but does not need to return a body.</doc>
            <representation mediaType="application/xml" element="identity:noContent"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
</application>