src/wadl/RAX-KSKEY-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent RAX-KSKEY-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "../common/common.ent">
%common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
	xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
	xmlns:RAX-KSKEY="http://docs.openstack.org/identity/api/ext/RAX-KSKEY/v1.0"	
	xmlns:capi="http://docs.openstack.org/common/api/v1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 ../common/xsd/api.xsd
		http://docs.openstack.org/common/api/v1.0 ../common/xsd/api-common.xsd
		http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
		http://docs.rackspace.com/identity/api/ext/RAX-KSKEY/v1.0 ../common/xsd/RAX-KSKEY-credentials.xsd
		">

    <grammars>
        <include href="../common/xsd/api.xsd"/>
        <include href="../common/xsd/api-common.xsd"/>
        <include href="../common/xsd/RAX-KSKEY-credentials.xsd" />
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357" xml:id="Identity-v2">
        <resource id="version" path="v2.0">
            <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                <doc>You need a valid admin token for access.</doc>
            </param>            
            <resource id="users" path="users">
                <resource id="userById" path="{userId}">
                    <param name="userId" style="template" type="xsd:string" required="true">
                        <doc>The user ID assigned by system when user is added.</doc>
                    </param>
                    <resource id="user-OS-KSADM" path="OS-KSADM">
                        <resource id="userCredentials" path="credentials">
                            <method href="#addUserCredential"/>
                            <method href="#listCredentials"/>
                            <resource id="userCredentialsByType" path="RAX-KSKEY:apiKeyCredentials">
                                <method href="#updateUserCredential"/>
                                <method href="#deleteUserCredential"/>
                                <method href="#getUserCredential"/>
                            </resource>
                        </resource>
                    </resource>
                   </resource>
                </resource>
            </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    
    <!-- User Credentials-->
    <method name="POST" id="addUserCredential">
        <doc xml:lang="EN" title="Add User Credential">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Add credentials to a user.
            </p>
            <p xmlns="http://www.w3.org/1999/xhtml">Add credentials to a user.</p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="RAX-KSKEY:apiKeyCredentials">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.xml"/>
            </doc>
         </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.json"/>
            </doc>
         </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="RAX-KSKEY:apiKeyCredentials">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.xml"/>
            </doc>
         </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.json"/>
            </doc>
         </representation>
        </response>
        &commonFaults;
        &postPutFaults;
        &getFaults;
    </method>

    <method name="GET" id="listCredentials">
        <doc xml:lang="EN" title="List Credentials">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                List credentials.
            </p>
            <p xmlns="http://www.w3.org/1999/xhtml">List credentials.</p>
        </doc>
        <request>
            <param name="marker" style="query" required="false" type="xsd:string">
                <doc> Allows us to page through list of users. </doc>
            </param>
            <param name="limit" style="query" required="false" type="xsd:int">
                <doc> Allows us to set size of page when paging through list of users. </doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:credentials">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/credentialswithapikey.xml"/>
            </doc>
         </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/credentialswithapikey.json"/>
            </doc>
         </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="listCredentialsByType">
        <doc xml:lang="EN" title="List Credentials by Type">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                List credentials by type.
            </p>
            <p xmlns="http://www.w3.org/1999/xhtml">List credentials by type.</p>          
        </doc>
        <request>
            <param name="marker" style="query" required="false" type="xsd:string">
                <doc> Allows us to page through list of users. </doc>
            </param>
            <param name="limit" style="query" required="false" type="xsd:int">
                <doc> Allows us to set size of page when paging through list of users. </doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:credentials">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/credentials.xml"/>
            </doc>
         </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/credentials.json"/>
            </doc>
         </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>    

    <method name="POST" id="updateUserCredential">
        <doc xml:lang="EN" title="Update User Credentials">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Update user credentials.
            </p>
            <p xmlns="http://www.w3.org/1999/xhtml">
                An API key is a credential; you can update a user's API key with this call.
                To add a credential to a user, specify the user's ID in the request.
                If you know the user's name but not the user's ID, use                  
                <xref linkend="GET_getUserByName_v2.0_users_" xrefstyle="select: title" xmlns="http://docbook.org/ns/docbook"></xref>
                 to                   
                obtain complete identifying information about the user.
            </p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="RAX-KSKEY:apiKeyCredentials">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.xml"/>
            </doc>
         </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.json"/>
            </doc>
         </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="RAX-KSKEY:apiKeyCredentials">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.xml"/>
            </doc>
         </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.json"/>
            </doc>
         </representation>
        </response>
        &commonFaults;
        &postPutFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteUserCredential">
        <doc xml:lang="EN" title="Delete User Credentials">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Delete user credentials.
            </p>
            <p xmlns="http://www.w3.org/1999/xhtml">
                An API key is a credential; you can delete a user's API key with this call.
                To delete a credential from a user, specify the user's ID in the request.
                If you know the user's name but not the user's ID, use                  
                <xref linkend="GET_getUserByName_v2.0_users_" xrefstyle="select: title" xmlns="http://docbook.org/ns/docbook"></xref>
                 to                   
                obtain complete identifying information about the user.
            </p>
        </doc>
        <response status="204"/>
        &commonFaults;
        &postPutFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getUserCredential">
        <doc xml:lang="EN" title="Get User Credentials">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Get user credentials.
            </p>
            <p xmlns="http://www.w3.org/1999/xhtml">
                To list a user's API key credentials, 
                specify the user's ID in the request.
                If you know the user's name but not the user's ID, use "Get User by Name" to 
                obtain complete identifying information about the user.
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="RAX-KSKEY:apiKeyCredentials">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.xml"/>
            </doc>
         </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.json"/>
            </doc>
         </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
</application>