src/wadl/RAX-KSKEY-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent RAX-KSKEY-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "../common/common.ent">
%common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
	xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
	xmlns:RAX-KSKEY="http://docs.openstack.org/identity/api/ext/RAX-KSKEY/v1.0"	
	xmlns:capi="http://docs.openstack.org/common/api/v1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">

 <grammars>
        <include href="../common/xsd/api.xsd"/>
        <include href="../common/xsd/api-common.xsd"/>
        <include href="../common/xsd/RAX-KSKEY-credentials.xsd" />
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357" xml:id="RAX-KSKEY-admin-v2.0">
        <resource id="version" path="v2.0">
            <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <para>Use a valid authentication token for an administrative user.</para></wadl:doc>
            </param>            
            <resource id="users" path="users">
                <resource id="userById" path="{userId}">
                    <param name="userId" style="template" type="xsd:string" required="true">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">The user ID assigned by system when user is added.</wadl:doc>
                    </param>
                    <resource id="user-OS-KSADM" path="OS-KSADM">
                        <resource id="userCredentials" path="credentials">
                            <method href="#addUserCredential"/>

                            <resource id="tenants">
                                <param name="X-Auth-Token"
                                    style="header" type="xsd:string"
                                    required="true">
                                    <wadl:doc
                                        xmlns="http://docbook.org/ns/docbook"
                                        xml:lang="EN"><para>A valid
                                            authentication token for an
                                            administrative
                                            user.</para></wadl:doc>
                                </param>
                                <param name="marker" style="query"
                                    required="false" type="xsd:string">
                                    <wadl:doc
                                        xmlns="http://docbook.org/ns/docbook"
                                        xml:lang="EN"><para>The ID of the
                                            last item in the previous
                                            list.</para></wadl:doc>
                                </param>
                                <param name="limit" style="query"
                                    required="false" type="xsd:int">
                                    <wadl:doc
                                        xmlns="http://docbook.org/ns/docbook"
                                        xml:lang="EN"><para>The page
                                            size.</para></wadl:doc>
                                </param>
                                <method href="#listCredentials"/>
                            </resource>
                            <resource id="userCredentialsByType"
                                path="RAX-KSKEY:apiKeyCredentials">
                                <method href="#updateUserCredential"/>
                                <method href="#deleteUserCredential"/>
                                <method href="#getUserCredential"/>
                            </resource>
                        </resource>
                    </resource>
                   </resource>
                </resource>
            </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    
    <!-- User Credentials-->
    <method name="POST" id="addUserCredential">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Add user credential">
            <para role="shortdesc">Adds a credential to a user.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml" element="RAX-KSKEY:apiKeyCredentials">
            <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
               <xsdxt:code href="../common/samples/apiKeyCredentials.xml"/>
            </wadl:doc>
         </representation>
            <representation mediaType="application/json">
            <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
               <xsdxt:code href="../common/samples/apiKeyCredentials.json"/>
            </wadl:doc>
         </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="RAX-KSKEY:apiKeyCredentials">
            <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
               <xsdxt:code href="../common/samples/apiKeyCredentials.xml"/>
            </wadl:doc>
         </representation>
            <representation mediaType="application/json">
            <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
               <xsdxt:code href="../common/samples/apiKeyCredentials.json"/>
            </wadl:doc>
         </representation>
        </response>
        &commonFaults;
        &postPutFaults;
        &getFaults;
    </method>

    <method name="GET" id="listCredentials">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Credentials">
            <para role="shortdesc">
                List credentials.
            </para>
            <para>List credentials.</para>
        </wadl:doc>
        <request>
            <param name="marker" style="query" required="false" type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"> Allows us to page through list of users. </wadl:doc>
            </param>
            <param name="limit" style="query" required="false" type="xsd:int">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"> Allows us to set size of page when paging through list of users. </wadl:doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:credentials">
            <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
               <xsdxt:code href="../common/samples/credentialswithapikey.xml"/>
            </wadl:doc>
         </representation>
            <representation mediaType="application/json">
            <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
               <xsdxt:code href="../common/samples/credentialswithapikey.json"/>
            </wadl:doc>
         </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="listCredentialsByType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Credentials by Type">
            <para role="shortdesc">
                List credentials by type.
            </para>
            <para>List credentials by type.</para>          
        </wadl:doc>
        <request>
            <param name="marker" style="query" required="false" type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"> Allows us to page through list of users. </wadl:doc>
            </param>
            <param name="limit" style="query" required="false" type="xsd:int">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"> Allows us to set size of page when paging through list of users. </wadl:doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
               <xsdxt:code href="../common/samples/credentials.xml"/>
            </wadl:doc>
         </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../common/samples/credentials.json"/>
            </wadl:doc>
         </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>    

    <method name="POST" id="updateUserCredential">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update user API key credentials">
            <para role="shortdesc">
                Update user credentials.
            </para>
            <para>
                An API key is a credential; you can update a user's API key with this call.
                To add a credential to a user, specify the user ID in the request.
                If you know the user name but not the ID, use  the                
                <xref linkend="GET_admin-getUserByName_v2.0_users__name__User_Calls" xrefstyle="select: title" xmlns="http://docbook.org/ns/docbook"></xref>
                 to get the ID.      
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml" element="RAX-KSKEY:apiKeyCredentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.xml"/>
            </wadl:doc>
         </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.json"/>
            </wadl:doc>
         </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="RAX-KSKEY:apiKeyCredentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.xml"/>
            </wadl:doc>
         </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.json"/>
            </wadl:doc>
         </representation>
        </response>
        &commonFaults;
        &postPutFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteUserCredential">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete user API key credentials">
            <para role="shortdesc">Delete user credentials.
            </para>
            <para>
                An API key is a credential; you can delete a user's API key with this call.
                To delete a credential from a user, specify the user ID in the request.
                If you know the user name but not the ID, use                  
                <xref linkend="GET_admin-getUserByName_v2.0_users__name__User_Calls" xrefstyle="select: title" xmlns="http://docbook.org/ns/docbook"></xref>
                 to                   
                obtain complete identifying information about the user.
            </para>
        </wadl:doc>
        <response status="204"/>
        &commonFaults;
        &postPutFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getUserCredential">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get user API key credentials">
            <para role="shortdesc">Get user credentials.</para>
            <para>To list a user's API key credentials, 
                specify the user's ID in the request.
                If you know the user's name but not the user's ID, use the Get user by name operation to 
                obtain complete identifying information about the user.
            </para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="RAX-KSKEY:apiKeyCredentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.xml"/>
            </wadl:doc>
         </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../common/samples/apiKeyCredentials.json"/>
            </wadl:doc>
         </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
</application>