src/common/xsd/RAX-AUTH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->

<schema
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
        xmlns:RAX-AUTH="http://docs.rackspace.com/identity/api/ext/RAX-AUTH/v1.0"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
        targetNamespace="http://docs.rackspace.com/identity/api/ext/RAX-AUTH/v1.0">

    <import namespace="http://docs.openstack.org/identity/api/v2.0" schemaLocation="token.xsd" />
    <import namespace="http://docs.openstack.org/identity/api/v2.0" schemaLocation="user.xsd" />

    <import namespace="http://docs.openstack.org/identity/api/v2.0" schemaLocation="api.xsd" />
    <import namespace="http://docs.rackspace.com/identity/api/ext/RAX-KSKEY/v1.0" schemaLocation="RAX-KSKEY-credentials.xsd" />
    <import namespace="http://docs.openstack.org/identity/api/ext/OS-KSCATALOG/v1.0" schemaLocation="OS-KSCATALOG.xsd" />

    <attribute name="defaultRegion" type="xsd:string" />
    <attribute name="domainId" type="xsd:string" />
    <attribute name="propagate" type="xsd:boolean" />
    <attribute name="federated" type="xsd:boolean" />
    <attribute name="federatedIdp" type="xsd:string" />
    <attribute name="tenantAlias" type="xsd:string" />
    <attribute name="multiFactorEnabled" type="xsd:boolean"/>

    <element name="authenticatedBy" type="RAX-AUTH:AuthenticatedBy" />
    <element name="defaultRegionServices" type="RAX-AUTH:DefaultRegionServices" />
    <element name="serviceApis" type="RAX-AUTH:ServiceApis" />
    <element name="impersonation" type="RAX-AUTH:ImpersonationRequest" />
    <element name="access" type="RAX-AUTH:ImpersonationResponse" />
    <element name="impersonator" type="identity:UserForAuthenticateResponse" >
    	<annotation>
            <xsd:documentation>
                <p>The user impersonating.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="domain" type="RAX-AUTH:Domain" >
        <annotation>
            <xsd:documentation>
                <p>A domain represents an administrative boundary for identity management.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="mobilePhone" type="RAX-AUTH:MobilePhone" >
        <annotation>
            <xsd:documentation>
                <p>A mobile phone represents an mobile phone capable of being used for multifactor.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="mobilePhones" type="RAX-AUTH:MobilePhones" >
        <annotation>
            <xsd:documentation>
                <p>A mobilePhones represents a list of mobile phone capable of being used for multifactor.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="verificationCode" type="RAX-AUTH:VerificationCode" >
        <annotation>
            <xsd:documentation>
                <p>A verification code represents a code used for verification of something.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="multiFactor" type="RAX-AUTH:MultiFactor" >
        <annotation>
            <xsd:documentation>
                <p>Settings for multifactor authentication.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="domains" type="RAX-AUTH:Domains" />
    <element name="policy" type="RAX-AUTH:Policy"/>
    <element name="policies" type="RAX-AUTH:Policies" />
    <element name="policySet" type="RAX-AUTH:PolicySet" />
    <element name="policySets" type="RAX-AUTH:PolicySets" />
    <element name="capabilities" type="RAX-AUTH:Capabilities" />
    <element name="capability" type="RAX-AUTH:Capability" />
    <element name="policyMetadata" type="RAX-AUTH:PolicyMetadata" />
    <element name="regions" type="RAX-AUTH:Regions" />
    <element name="region" type="RAX-AUTH:Region" />
    <element name="questions" type="RAX-AUTH:Questions" />
    <element name="question" type="RAX-AUTH:Question" />
    <element name="secretqas" type="RAX-AUTH:SecretQAs" />
    <element name="secretqa" type="RAX-AUTH:SecretQA" />
    <element name="rsaCredentials" type="RAX-AUTH:RsaCredentials" substitutionGroup="identity:credential" />
    <element name="passcodeCredentials" type="RAX-AUTH:PasscodeCredentials" substitutionGroup="identity:credential" />

    <!-- Complex Types -->
    <complexType name="AuthenticatedBy">
        <sequence>
            <element name="credential" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="ImpersonationRequest">
        <sequence>
            <element name="user" type="identity:User" >
                <annotation>
                    <xsd:documentation>
                        <p>The user being impersonated.</p>
                    </xsd:documentation>
                </annotation>
            </element>
            <element name="expire-in-seconds" type="int" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="ImpersonationResponse">
        <sequence>
            <element name="token" type="identity:Token">
                <annotation>
                    <xsd:documentation>
                        <p>A token representing the impersonated user.</p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="MultiFactorDevice" abstract="true">
        <attribute name="id" type="xsd:string">
        <annotation>
            <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    An ID uniquely identifying the device.
                </p>
            </xsd:documentation>
        </annotation>
        </attribute>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="MobilePhone">
        <complexContent>
            <extension base="RAX-AUTH:MultiFactorDevice">
                <attribute name="number" type="xsd:string">
                    <annotation>
                        <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                The phone number of the mobile phone.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
                <attribute name="verified" type="xsd:boolean">
                    <annotation>
                        <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                Whether the device has been verified for the associated user.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="MobilePhones">
        <sequence>
            <element name="mobilePhone" type="RAX-AUTH:MobilePhone" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="VerificationCode">
        <attribute name="code" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The code used for verification.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>
    <complexType name="MultiFactor">
        <attribute name="enabled" type="xsd:boolean" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Whether to enable or disable multi-factor
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>
    <complexType name="Domain">
        <sequence>
            <element name="description" type="xsd:string">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            An free text description of the domain.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An ID uniquely identifying the domain.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="name" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The name of the domain.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="enabled" type="xsd:boolean" use="optional" default="true">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if domain is active or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Domains">
        <sequence>
            <element name="domain" type="RAX-AUTH:Domain" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="DefaultRegionServices">
        <sequence>
            <element name="serviceName" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            Service name.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="Policy">
        <sequence>
            <element name="description" type="xsd:string">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            An free text description of the policy.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An ID uniquely identifying the policy.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="name" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The name of the policy.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="type" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The serialized type of the policy. This determines the format the policy is in.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="enabled" type="xsd:boolean" use="optional" default="true">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if policy is active or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="global" type="xsd:boolean" use="optional" default="false">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if policy is a global policy or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="blob" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A blob containing any type of policy that a client can provide. This could be in any format the client chooses.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Policies">
        <sequence>
            <element name="policy" type="RAX-AUTH:Policy" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="algorithm" type="RAX-AUTH:PolicyAlgorithm" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Name of the policy set.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="PolicySet">
        <annotation>
            <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    This is a set of policies that can be attached to target (domain, endpoint, ...)
                </p>
            </xsd:documentation>
        </annotation>
        <sequence>
            <element name="description" type="xsd:string">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            An free text description of the policy set.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
            <element name="policy" type="RAX-AUTH:Policy" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Id of the policy set.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="name" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                       Name of the policy set.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="PolicySets">
        <sequence>
            <element name="policySet" type="RAX-AUTH:PolicySet" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="Capability">
        <sequence>
            <element name="description" type="xsd:string">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            An free text description of the capability.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Id of the capability
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="name" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Name of the capability.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="action" type="RAX-AUTH:Action" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Action of the capability. This could be PUT, POST, CREATE, ...
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="url" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Url of the capability.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="resources" type="RAX-AUTH:StringList">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        This is a list of arbitrary ids. A capability can be restricted to a specific resource (server, file, ..).
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Capabilities">
        <sequence>
            <element name="capability" type="RAX-AUTH:Capability" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="PolicyMetadata">
        <annotation>
            <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    This is meta data used to provide extra information to policy management e.g algorithm for policy evaluation
                </p>
            </xsd:documentation>
        </annotation>
        <sequence/>
        <attribute name="algorithm" type="RAX-AUTH:PolicyAlgorithm" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Name of the policy set.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Region">
        <attribute name="name" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The name of the region.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="isDefault" type="xsd:boolean" use="optional" default="false">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if region is active or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="enabled" type="xsd:boolean" use="optional" default="false">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if region is active or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Regions">
        <sequence>
            <element name="region" type="RAX-AUTH:Region" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="Question">
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The id of the question.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="question" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A question.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Questions">
        <sequence>
            <element name="question" type="RAX-AUTH:Question" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="SecretQA">
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The id of the question.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="question" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The question.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="answer" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The answer.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="SecretQAs">
        <sequence>
            <element name="secretqa" type="RAX-AUTH:SecretQA" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="ServiceApis">
        <sequence>
            <element name="serviceApi" type="RAX-AUTH:ServiceApi" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <complexType name="ServiceApi">
        <sequence>
        	<element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="type" type="identity:ExtensibleServiceType">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                       Type of the service api e.g compute, object-store, ..
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="version" type="xsd:string">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                       Version of the service api
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="RsaCredentials">
        <complexContent>
            <extension base="identity:CredentialType">
                <attribute name="username" type="xsd:string" use="required" />
                <attribute name="tokenKey" type="xsd:string" use="required" />
            </extension>
        </complexContent>
    </complexType>

    <complexType name="PasscodeCredentials">
        <complexContent>
            <extension base="identity:CredentialType">
                <attribute name="passcode" type="xsd:string" use="required" />
            </extension>
        </complexContent>
    </complexType>

    <simpleType name="StringList">
        <list itemType="xsd:string"/>
    </simpleType>

    <xsd:simpleType name="PolicyAlgorithm">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    The list of possible policy algorithms.
                </p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="if-true-allow"/>
            <xsd:enumeration value="if-false-deny"/>
        </xsd:restriction>
    </xsd:simpleType>

    <simpleType  name="Action">
        <restriction base="xsd:string">
            <enumeration value="GET"/>
            <enumeration value="POST"/>
            <enumeration value="PUT"/>
            <enumeration value="DELETE"/>
            <enumeration value="PATCH"/>
            <enumeration value="*" />
        </restriction>
    </simpleType>

    <simpleType  name="PolicyType">
        <restriction base="xsd:string">
            <enumeration value="json-policy-format"/>
            <enumeration value="standard-policy-format"/>
        </restriction>
    </simpleType>

</schema>
